// Variables
$color-black: #000;
$color-grey: #525252;
$color-orange: #f05b32;
$color-cream: #ebd5c8;
$color-pale-cream: #fff3ed;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Uncut-Sans";
  src: url("./fonts/Uncut-Sans-Variable.ttf") format("truetype");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}
